<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI</title>
    <link rel="stylesheet" href="/assets/prism.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./imagePage.css">
</head>

<body>
    <div class="container">
        <section class="container__header">
            <!-- Header Component Starts -- Standard -->
            <div class="header header--standard">
                <a  href="/index.html" class="header__btn dui-link dui-util-disp-flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere"
                        width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 17.6l-2 -1.1v-2.5" />
                        <path d="M4 10v-2.5l2 -1.1" />
                        <path d="M10 4.1l2 -1.1l2 1.1" />
                        <path d="M18 6.4l2 1.1v2.5" />
                        <path d="M20 14v2.5l-2 1.12" />
                        <path d="M14 19.9l-2 1.1l-2 -1.1" />
                        <line x1="12" y1="12" x2="14" y2="10.9" />
                        <line x1="18" y1="8.6" x2="20" y2="7.5" />
                        <line x1="12" y1="12" x2="12" y2="14.5" />
                        <line x1="12" y1="18.5" x2="12" y2="21" />
                        <path d="M12 12l-2 -1.12" />
                        <line x1="6" y1="8.6" x2="4" y2="7.5" />
                    </svg>

                    <h3 class="header__title">
                        Delta UI
                    </h3>
                </a>

                <div class="header__action">
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/index.html">
                        HOME
                    </a>
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/components/avatar/avatarPage.html">
                        DOCUMENTATION
                    </a>
                </div>
            </div>
            <!-- Header Component Ends -- Standard -->

        </section>
        <section class="container__sidebar">
            <!-- Drawer Component Regular -->
            <div class="drawer">

                <!-- Getting Started Starts -->
                <div class="drawer__heading">
                    <h3 class="drawer__title">Getting Started</h3>
                </div>
                <div class="drawer__content-holder" style="margin-bottom: 2rem;">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/documentation/installation-page.html">
                            Installation
                        </a>
                    </div>
                </div>
                <!-- Getting Started Ends -->

                <div class="drawer__heading">
                    <h3 class="drawer__title">Components</h3>
                </div>

                <div class="drawer__content-holder">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/avatar/avatarPage.html">
                            Avatar
                        </a>
                    </div>
                    <div id="drawer__content--alert" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/alert/alertPage.html">
                            Alert
                        </a>
                    </div>
                    <div id="drawer__content--badge" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/badge/badgePage.html">
                            Badge
                        </a>
                    </div>
                    <div id="drawer__content--button" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/button/buttonPage.html">
                            Button
                        </a>
                    </div>
                    <div id="drawer__content--card" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/card/cardPage.html">
                            Card
                        </a>
                    </div>
                    <div id="drawer__content--image" class="drawer__content drawer__content--focus">
                        <a class="dui-link dui-util-txt-sm" href="/components/image/imagePage.html">
                            Image
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/input/inputPage.html">
                            Input
                        </a>
                    </div>
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/textutils/textutilsPage.html">
                            Text Utilities
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/list/listPage.html">
                            List
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/navbar/navbarPage.html">
                            Navbar
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/modal/modalPage.html">
                            Modal
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/rating/ratingPage.html">
                            Rating
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/toast/toastPage.html">
                            Toast
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/grid/gridPage.html">
                            Grid
                        </a>
                    </div>
                </div>
            </div>

            <!-- Drawer Component Ends-->

        </section>

        <section class="container__content">
            <h1>Image Component</h1>

            <h3 class="container__content__sub-title">Circular Image</h3>

            <p class="container__description dui-util-txt-reg ">
                Below component can be used to place circular images inside the DOM, viz. Avatar.
            </p>

            <!-- Image Component Starts -- Circle -->
            <div class="dui-img-circle">
                <img class="dui-img-circle__content"
                    src="https://i.picsum.photos/id/277/300/300.jpg?hmac=6nBRqeNnqyIsMzhXkeSuvgTjvl4oFhR-mUlzEBy7Kbk"
                    alt="Circular">
                </img>
            </div>
            <!-- Image Component Ends -- Circle -->

            <p class="container__description dui-util-txt-reg ">Code Snippet
            </p>

            <div id="container__code-preview" class="container__code-preview">
                <script type="text/plain" class="language-markup">
                    <div class="dui-avatar dui-avatar--lg">
                        <img class="dui-avatar__content" 
                                src="https://picsum.photos/300/300" alt="Circular">
                        </img>
                    </div>
                </script>
            </div>


            <h3 class="container__content__sub-title">Responsive Image</h3>

            <p class="container__description dui-util-txt-reg ">Below is a responsive image, which dymamicaly computes
                width and height as per parent element
            </p>

            <!-- Image Component Starts -- Responsive -->
            <img class="dui-img-responsive"
                src="https://i.picsum.photos/id/296/400/200.jpg?hmac=DCYUrsp-OQh5Jp9vgc-sZJwZXbsIlkNu4NruR3zfIDk"
                alt="Responsive">
            </img>
            <!-- Image Component Ends -- Responsive -->

            <p class="container__description dui-util-txt-reg ">Code Snippet
            </p>

            <div id="container__code-preview" class="container__code-preview">
                <script type="text/plain" class="language-markup">
                    <img class="dui-img-responsive"
                    src="https://picsum.photos/400/200" alt="Responsive">
                </img>
            </script>
            </div>

            <button
            class="mobl-flt-menu dui-btn dui-btn--primary dui-btn--floating-action dui-util-spc-pad-0_8rem-xs dui-util-bdr-radi-5px-s dui-util-disp-none reset-button-inherit-parent">
            <svg xmlns="http://www.w3.org/2000/svg" class="dui-btn__icon icon icon-tabler icon-tabler-menu-2"
                width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
        </button>

        <div class="mobile-menu">
            <h1 class="dui-primary-color">Delta UI Components</h1>
        </div>
        </section>

        <section class="container__footer">

        </section>
    </div>

    <script type="module" src="./imagePage.js"></script>
    <script src="/assets/prism.js"></script>

</body>

</html>