<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI | Input Component</title>
    <link rel="stylesheet" href="/library/component.css">
    <link rel="stylesheet"
		href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding: 0px;
        }
        .comp-lib-hr, .comp-lib-h1, .comp-lib-h2 {
            margin: 2rem;
        }
        .component_demo_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .code_snippets_div {
            padding: 2rem;
            width: fit-content;
            margin-left: auto;
        }
    </style>
</head>
<body>
    <h1 class="comp-lib-h1">Image Component</h1>

    <h3 class="comp-lib-h2">Circular Image</h3>
    <div class="component_demo_container">
        <!-- Image Component Starts -- Circle -->
        <div class="img-circle">
            <img class="img-circle__content" 
                    src="https://picsum.photos/300/300" alt="Avatar">
            </img>
        </div>
        <!-- Image Component Ends -- Circle -->
        <div class="code_snippets_div">
        
        </div>
    </div>

    <h3 class="comp-lib-h2">Responsive Image</h3>
    <div class="component_demo_container">
        <!-- Image Component Starts -- Responsive -->
            <img class="img-responsive" 
                    src="https://picsum.photos/200/350" alt="Avatar">
            </img>
        <!-- Image Component Ends -- Responsive -->
        <div class="code_snippets_div">
        
        </div>
    </div>

</body>
</html>