.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20rem;
    padding-right: 20rem;
}

.container__content__sub-title {
    align-self: flex-start;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.container__code-preview {
    width: 80rem;
    min-height: 22rem;
    align-self: center;
    justify-content: center;
    overflow: auto;
}

.container__description {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* small util for this specific page */
.util-mgn-btm-1_6prem {
    margin-bottom: 1.6rem;
}