/* Home Container */

.home-container {
    grid-template-areas:
        'mcontent mcontent mcontent mcontent mcontent mcontent'
        'mcontent mcontent mcontent mcontent mcontent mcontent'
        'mcontent mcontent mcontent mcontent mcontent mcontent';

    background-color: var(--primary-color);
}

.home-container .container__header .header {
    box-shadow: none;
}

.home-container .container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container .container__content svg {
    width: 30rem;
    height: 30rem;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.home-container .container__content h2 {
    color: var(--light-theme);
    font-size: 300%;
    margin-top: 5rem;
    margin-right: -2rem;
    letter-spacing: 2rem;
}

.action-btn {
    display: flex;
    padding-top: 7rem;
    gap: 3rem
}

.action-btn>a {
    text-decoration: underline;
    text-decoration-color: transparent;
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
}
.action-btn>a:first-child:hover {
    background-color: var(--light-theme);
    transition: 1s;
    text-decoration-color: var(--primary-color);
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: var(--primary-color);
    -moz-text-decoration-color: var(--primary-color);
}

.action-btn>a:last-child:hover {
    background-color: var(--primary-color);
    transition: 1s;
    text-decoration-color: var(--light-theme);
    /*add those for opera and mozilla support*/
    -webkit-text-decoration-color: var(--primary-color);
    -moz-text-decoration-color: var(--primary-color);
}