/* Colors */
/* Background Color */
.dui-primary-bg-color {
    background-color: var(--dui-primary-color);
}

.dui-primary-bg-color-opc-75pct {
    background-color: var(--dui-primary-color-opc-75pct);
}

.dui-primary-bg-color-opc-10pct {
    background-color: var(--dui-primary-color-opc-10pct);
}

/* Color */
.dui-primary-color {
    color: var(--dui-primary-color);
}

.dui-primary-color-opc-75pct {
    color: var(--dui-primary-color-opc-75pct);
}

.dui-primary-color-opc-10pct {
    color: var(--dui-primary-color-opc-10pct);
}

/* Color P2 */
.dui-primary-color-p2 {
    color: var(--dui-primary-color-p2);
}

/* Theme */
.dui-light-theme-txt {
    color: var(--dui-light-theme-txt);
}

.dui-light-theme-bg {
    background-color: var(--dui-light-theme-bg);
}


.dui-light-theme-contrast-txt {
    color: var(--dui-light-theme-contrast-txt);
}

.dui-light-theme-contrast-bg {
    background-color: var(--dui-light-theme-contrast-bg);
}

/* Border */
.dui-primary-p2-bdr-s {
    border: 1.6px solid var(--dui-primary-color-p2);
}