/* Typography */
/* Font Heading */
h1 {
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 6.4rem;
}

/* .dui-util-hdg-md  */
h2 {
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4.0rem;
}

/* .dui-util-hdg-reg  */
h3 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.h4 {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.h5 {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.6rem;
}

/* Font Text */
.dui-util-txt-lg {
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6.4rem;
}

.dui-util-txt-md {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 4.0rem;
}

.dui-util-txt-reg {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.dui-util-txt-sm {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.dui-util-txt-xsm {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.6rem;
}


/* Font Weight */
.dui-util-fw-lgt {
    font-weight: 300;
}

.dui-util-fw-reg {
    font-weight: 400;
}

.dui-util-fw-sbld {
    font-weight: 600;
}

.dui-util-fw-bld {
    font-weight: 700;
}

.dui-util-fw-blk {
    font-weight: 900;
}

/*  */