<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI</title>
    <link rel="stylesheet" href="/assets/prism.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./buttonPage.css">
</head>

<body>
    <div class="container">
        <section class="container__header">
            <!-- Header Component Starts -- Standard -->
            <div class="header header--standard">
                <button class="header__btn button-inherit-parent">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere"
                        width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 17.6l-2 -1.1v-2.5" />
                        <path d="M4 10v-2.5l2 -1.1" />
                        <path d="M10 4.1l2 -1.1l2 1.1" />
                        <path d="M18 6.4l2 1.1v2.5" />
                        <path d="M20 14v2.5l-2 1.12" />
                        <path d="M14 19.9l-2 1.1l-2 -1.1" />
                        <line x1="12" y1="12" x2="14" y2="10.9" />
                        <line x1="18" y1="8.6" x2="20" y2="7.5" />
                        <line x1="12" y1="12" x2="12" y2="14.5" />
                        <line x1="12" y1="18.5" x2="12" y2="21" />
                        <path d="M12 12l-2 -1.12" />
                        <line x1="6" y1="8.6" x2="4" y2="7.5" />
                    </svg>
                </button>
                <h3 class="header__title">
                    Delta UI
                </h3>

                <div class="header__action">
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/index.html">
                        HOME
                    </a>
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/components/avatar/avatarPage.html">
                        DOCUMENTATION
                    </a>
                </div>
            </div>
            <!-- Header Component Ends -- Standard -->

        </section>
        <section class="container__sidebar">
            <!-- Drawer Component Regular -->
            <div class="drawer">
                <div class="drawer__heading">
                    <h3 class="drawer__title">Components</h3>
                </div>

                <div class="drawer__content-holder">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/avatar/avatarPage.html">
                            Avatar
                        </a>
                    </div>
                    <div id="drawer__content--alert" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/alert/alertPage.html">
                            Alert
                        </a>
                    </div>
                    <div id="drawer__content--badge" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/badge/badgePage.html">
                            Badge
                        </a>
                    </div>
                    <div id="drawer__content--button" class="drawer__content drawer__content--focus">
                        <a class="dui-link dui-util-txt-sm" href="/components/button/buttonPage.html">
                            Button
                        </a>
                    </div>
                    <div id="drawer__content--card" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/card/cardPage.html">
                            Card
                        </a>
                    </div>
                    <div id="drawer__content--image" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/image/imagePage.html">
                            Image
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/input/inputPage.html">
                            Input
                        </a>
                    </div>
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/textutils/textutilsPage.html">
                            Text Utilities
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/list/listPage.html">
                            List
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/navbar/navbarPage.html">
                            Navbar
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/toast/toastPage.html">
                            Toast
                        </a>
                    </div>
                </div>
            </div>

            <!-- Drawer Component Ends-->

        </section>
        <section class="container__content">
            <h1>Button Component</h1>
            <!-- BUTTON -->
            <h2 class="container__content__sub-title">Button</h2>
            <p class="container__description dui-util-txt-reg ">
                Please press on the preferred button component to view the code snippet.
            </p>
            <div class="container__components-holder dui-util-spc-pad-1_6rem-s">
                <div id="container__component-holder" class="container__component-holder" data-row-idx="0"
                    data-col-idx="0">
                    <!-- Button Component Starts -- Primary -->
                    <button
                        class="dui-btn dui-btn--primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
                        Primary
                    </button>
                    <!-- Button Component Ends -- Primary -->
                </div>

                <div id="container__component-holder" class="container__component-holder" data-row-idx="0"
                    data-col-idx="1">
                    <!-- Button Component Starts -- Secondary -->
                    <button
                        class="dui-btn dui-btn--secondary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
                        Secondary
                    </button>
                    <!-- Button Component Ends -- Secondary -->
                </div>

                <div id="container__component-holder" class="container__component-holder" data-row-idx="0"
                    data-col-idx="2">
                    <!-- Button Component Starts -- Text Primary -->
                    <button
                        class="dui-btn dui-btn--txt-primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
                        Text Primary
                    </button>
                    <!-- Button Component Ends -- Text Primary -->
                </div>
            </div>

            <p class="container__description dui-util-txt-reg ">
                Code Snippet
            </p>

            <div id="container__code-preview--btn-p" class="container__code-preview" data-row-idx="0" data-col-idx="0">
                <script type="text/plain" class="language-markup">
                    <button class="dui-btn dui-btn--primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
                        Primary
                    </button>
                </script>
            </div>

            <div id="container__code-preview--btn-s" class="container__code-preview dui-util-disp-none" data-row-idx="0"
                data-col-idx="1">
                <script type="text/plain" class="language-markup">
                    <button class="dui-btn dui-btn--secondary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
                        Secondary
                    </button>
                </script>
            </div>

            <div id="container__code-preview--btn-t" class="container__code-preview dui-util-disp-none" data-row-idx="0"
                data-col-idx="2">
                <script type="text/plain" class="language-markup">
                    <button class="dui-btn dui-btn--txt-primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
                        Text Primary
                    </button>
                </script>
            </div>

            <!-- LINKS -->
            <h2 class="container__content__sub-title">Links</h2>
            <p class="container__description dui-util-txt-reg ">
                Please press on the preferred link component to view the code snippet.
            </p>
            <div class="container__components-holder dui-util-spc-pad-1_6rem-s">
                <div id="container__component-holder" class="container__component-holder" data-row-idx="1"
                    data-col-idx="0">
                    <!-- Link Button Component Starts -- Link Primary -->
                    <a class="dui-link dui-link--primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="#">
                        Primary Link
                    </a>
                    <!-- Link Button Component Ends -- Link Primary -->
                </div>

                <div id="container__component-holder" class="container__component-holder" data-row-idx="1"
                    data-col-idx="1">
                    <!-- Link Button Component Starts -- Link Primary -->
                    <a class="dui-link dui-link--secondary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="#">
                        Seconday Link
                    </a>
                    <!-- Link Button Component Ends -- Link Primary -->
                </div>

                <div id="container__component-holder" class="container__component-holder" data-row-idx="1"
                    data-col-idx="2">
                    <!-- Link Button Component Starts -- Link Primary -->
                    <a class="dui-link dui-link--txt-primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="#">
                        Text Link
                    </a>
                    <!-- Link Button Component Ends -- Link Primary -->
                </div>
            </div>

            <p class="container__description dui-util-txt-reg ">
                Code Snippet
            </p>

            <div id="container__code-preview--btn-p" class="container__code-preview" data-row-idx="1" data-col-idx="0">
                <script type="text/plain" class="language-markup">
                    <a class="dui-link dui-link--primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs" href="#">
                        Primary Link
                    </a>
                </script>
            </div>

            <div id="container__code-preview--btn-s" class="container__code-preview dui-util-disp-none" data-row-idx="1"
                data-col-idx="1">
                <script type="text/plain" class="language-markup">
                    <a class="dui-link dui-link--secondary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs" href="#">
                        Seconday Link
                    </a>
                </script>
            </div>

            <div id="container__code-preview--btn-t" class="container__code-preview dui-util-disp-none" data-row-idx="1"
                data-col-idx="2">
                <script type="text/plain" class="language-markup">
                    <a class="dui-link dui-link--txt-primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs" href="#">
                        Text Link
                    </a>
                </script>
            </div>

            <!-- Special Buttons -->
            <h2 class="container__content__sub-title">Special Buttons</h2>
            <p class="container__description dui-util-txt-reg ">
                Please press on the preferred button component to view the code snippet.
            </p>
            <div class="container__components-holder dui-util-spc-pad-1_6rem-s">
                <div id="container__component-holder" class="container__component-holder" data-row-idx="2"
                    data-col-idx="0">
                    <!-- Button Component Starts -- Icon -->
                    <button class="dui-btn reset-button-inherit-parent">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-btn__icon icon icon-tabler icon-tabler-printer" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                            <rect x="7" y="13" width="10" height="8" rx="2" />
                        </svg>
                    </button>
                    <!-- Button Component Ends -- Icon -->
                    <p>Icon Button</p>
                </div>

                <div id="container__component-holder" class="container__component-holder" data-row-idx="2"
                    data-col-idx="1">
                    <!-- Button Component Starts -- Floating Action Button -->
                    <button
                        class="dui-btn dui-btn--primary dui-btn--floating-action dui-util-spc-pad-0_8rem-xs dui-util-bdr-radi-5px-s reset-button-inherit-parent">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-btn__icon icon icon-tabler icon-tabler-printer" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                            <rect x="7" y="13" width="10" height="8" rx="2" />
                        </svg>
                    </button>
                    <!-- Button Component Ends -- Floating Action Button -->
                    <p>Floating Button</p>
                    <p>Check Bottom Right</p>
                </div>
            </div>

            <p class="container__description dui-util-txt-reg ">
                Code Snippet
            </p>

            <div id="container__code-preview--btn-p" class="container__code-preview" data-row-idx="2" data-col-idx="0">
                <script type="text/plain" class="language-markup">
                    <button class="dui-btn reset-button-inherit-parent">
                        <svg xmlns="http://www.w3.org/2000/svg" class="dui-btn__icon icon icon-tabler icon-tabler-printer" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                            <rect x="7" y="13" width="10" height="8" rx="2" />
                          </svg>
                    </button>
                </script>
            </div>

            <div id="container__code-preview--btn-s" class="container__code-preview dui-util-disp-none" data-row-idx="2"
                data-col-idx="1">
                <script type="text/plain" class="language-markup">
                    <button class="dui-btn dui-btn--primary dui-btn--floating-action dui-util-spc-pad-0_8rem-xs dui-util-bdr-radi-5px-s reset-button-inherit-parent">
                        <svg xmlns="http://www.w3.org/2000/svg" class="dui-btn__icon icon icon-tabler icon-tabler-printer" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                            <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                            <rect x="7" y="13" width="10" height="8" rx="2" />
                          </svg>
                    </button>
                </script>
            </div>

        </section>
        <section class="container__footer">

        </section>
    </div>

    <script src="./buttonPage.js"></script>
    <script src="/assets/prism.js"></script>

</body>

</html>