<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI | Button Component</title>
    <link rel="stylesheet" href="/library/component.css">
    <style>
        body {
            padding: 5px;
        }
        .comp-lib-hr, .comp-lib-h1, .comp-lib-h2 {
            margin: 1rem;
        }
        .component_demo_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .code_snippets_div {
            padding: 2rem;
            width: fit-content;
            margin-left: auto;
        }
    </style>
</head>
<body>

    <h1 class="comp-lib-h1">Button Component</h1>

    <h2 class="comp-lib-h2">Primary Button</h2>
    <div class="component_demo_container">
        <!-- Button Component Starts -- Primary -->
        <button class="btn btn--primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs reset-button-inherit-parent">
            Primary Button
        </button>
        <!-- Button Component Ends -- Primary -->
        
        <div class="code_snippets_div">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn--primary%2520dui-util-bdr-radi-5px-s%2520dui-util-txt-sm%2520dui-util-spc-pad-0_8rem-xs%2520reset-button-inherit-parent%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520Primary%2520Button%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fbutton%253E"
                style="width: 680px; height: 145px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </div>
    
    </div>


    <h2 class="comp-lib-h2">Link Button</h2>
    <div class="component_demo_container">
        <!-- Link Button Component Starts -- Link Primary -->
        <a class="link link--primary dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs" href="#">
            Primary Link
        </a>
        <!-- Link Button Component Ends -- Link Primary -->

        <div class="code_snippets_div">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn--primary%2520dui-util-bdr-radi-5px-s%2520dui-util-txt-sm%2520dui-util-spc-pad-0_8rem-xs%2520reset-button-inherit-parent%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520Primary%2520Button%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fbutton%253E"
                style="width: 680px; height: 145px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </div>
    </div>



    <h2 class="comp-lib-h2">Icon Button</h2>
    <div class="component_demo_container">
        <!-- Button Component Starts -- Icon -->
        <button class="btn reset-button-inherit-parent">
            <svg xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon-tabler icon-tabler-printer" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                <rect x="7" y="13" width="10" height="8" rx="2" />
              </svg>
        </button>
        <!-- Button Component Ends -- Icon -->

        <div class="code_snippets_div">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn--primary%2520dui-util-bdr-radi-5px-s%2520dui-util-txt-sm%2520dui-util-spc-pad-0_8rem-xs%2520reset-button-inherit-parent%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520Primary%2520Button%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fbutton%253E"
                style="width: 680px; height: 145px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </div>
    </div>


    <h2 class="comp-lib-h2">Floating Action Button</h2>
    <div class="component_demo_container">
        <!-- Button Component Starts -- Floating Action Button -->
        <button class="btn btn--primary btn--floating-action dui-util-spc-pad-0_8rem-xs dui-util-bdr-radi-5px-s reset-button-inherit-parent">
            <svg xmlns="http://www.w3.org/2000/svg" class="btn__icon icon icon-tabler icon-tabler-printer" width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                <rect x="7" y="13" width="10" height="8" rx="2" />
              </svg>
        </button>
        <!-- Button Component Ends -- Floating Action Button -->
        <div class="code_snippets_div">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn--primary%2520dui-util-bdr-radi-5px-s%2520dui-util-txt-sm%2520dui-util-spc-pad-0_8rem-xs%2520reset-button-inherit-parent%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520Primary%2520Button%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fbutton%253E"
                style="width: 680px; height: 145px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
                </iframe>
        </div>
    </div>
 
</body>
</html>