<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Component</title>
    <link rel="stylesheet" href="/library/component.css">
    <style>
        body {
            padding: 0px;
        }
        .component-holder {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        .comp-lib-hr, .comp-lib-h1, .comp-lib-h2 {
            margin: 2rem;
        }
    </style>
</head>
<body>
    <h1 class="comp-lib-h1">@ Avatar Component</h1>

    <div class="component-holder">
        <div>
            <!-- Avatar Component Starts -- Extra Large -->
            <div class="avatar avatar--xlg">
                <img class="avatar__content" 
                        src="https://i.pravatar.cc/300" alt="Avatar">
                </img>
            </div>
            <!-- Avatar Component Ends -- Extra Large -->
            <h2 class="comp-lib-h2">Avatar Extra Large</h2>
        </div>
        
        <div>
            <!-- Avatar Component Starts -- Large -->
            <div class="avatar avatar--lg">
                <img class="avatar__content" 
                        src="https://i.pravatar.cc/300" alt="Avatar">
                </img>
            </div>
            <!-- Avatar Component Ends -- Large  -->
            <h2 class="comp-lib-h2">Avatar Large</h2>
        </div>

        <div>
            <!-- Avatar Component Starts -- Medium -->
            <div class="avatar avatar--md">
                <img class="avatar__content" 
                        src="https://i.pravatar.cc/300" alt="Avatar">
                </img>
            </div>
            <!-- Avatar Component Ends -- Medium  -->
            <h2 class="comp-lib-h2">Avatar Medium</h2>
        </div>

        <div>
            <!-- Avatar Component Starts -- Small -->
            <div class="avatar avatar--sm">
                <img class="avatar__content" 
                        src="https://i.pravatar.cc/300" alt="Avatar">
                </img>
            </div>
            <!-- Avatar Component Ends -- Small  -->
            <h2 class="comp-lib-h2">Avatar Small</h2>
        </div>
    </div>
</body>
</html>