<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar Component</title>
    <link rel="stylesheet" href="/library/component.css">
    <style>
        body {
            padding: 0px;
        }
        .component-holder {
            display: flex;
            flex-direction: column;
        }
        .comp-lib-hr, .comp-lib-h1, .comp-lib-h2 {
            margin: 2rem;
        }
        .component_demo_container {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .code_snippets_div {
            padding: 2rem;
            width: fit-content;
            margin-left: auto;
        }
    </style>
</head>
<body>
    <h1 class="comp-lib-h1">Avatar Component</h1>

    <div class="component-holder">
        <div class="component_demo_container">
            <div>
                <!-- Avatar Component Starts -- Extra Large -->
                <div class="avatar avatar--xlg">
                    <img class="avatar__content" 
                            src="https://i.pravatar.cc/300" alt="Avatar">
                    </img>
                </div>
                <!-- Avatar Component Ends -- Extra Large -->
                <h3 class="comp-lib-h2">Avatar Extra Large</h3>
            </div>

            <div class="code_snippets_div">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar%2520avatar--xlg%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar__content%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522Avatar%2522%253E%250A%2520%2520%2520%2520%253C%252Fimg%253E%250A%253C%252Fdiv%253E"
                    style="width: 680px; height: 162px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
            </div>
        </div>
        

        <div class="component_demo_container">
            <div>
                <!-- Avatar Component Starts -- Large -->
                <div class="avatar avatar--lg">
                    <img class="avatar__content" 
                            src="https://i.pravatar.cc/300" alt="Avatar">
                    </img>
                </div>
                <!-- Avatar Component Ends -- Large  -->
                <h3 class="comp-lib-h2">Avatar Large</h3>
            </div>

            <div class="code_snippets_div">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar%2520avatar--lg%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar__content%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522Avatar%2522%253E%250A%2520%2520%2520%2520%253C%252Fimg%253E%250A%253C%252Fdiv%253E"
                    style="width: 680px; height: 162px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
            </div>
        </div>


        <div class="component_demo_container">
            <div>
                <!-- Avatar Component Starts -- Medium -->
                <div class="avatar avatar--md">
                    <img class="avatar__content" 
                            src="https://i.pravatar.cc/300" alt="Avatar">
                    </img>
                </div>
                <!-- Avatar Component Ends -- Medium  -->
                <h3 class="comp-lib-h2">Avatar Medium</h3>
            </div>

            <div class="code_snippets_div">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar%2520avatar--md%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar__content%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522Avatar%2522%253E%250A%2520%2520%2520%2520%253C%252Fimg%253E%250A%253C%252Fdiv%253E"
                    style="width: 680px; height: 162px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
            </div>
        </div>


        <div class="component_demo_container">
            <div>
                <!-- Avatar Component Starts -- Small -->
                <div class="avatar avatar--sm">
                    <img class="avatar__content" 
                            src="https://i.pravatar.cc/300" alt="Avatar">
                    </img>
                </div>
                <!-- Avatar Component Ends -- Small  -->
                <h3 class="comp-lib-h2">Avatar Small</h3>
            </div>

            <div class="code_snippets_div">
                <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%28255%2C255%2C255%2C1%29&t=seti&wt=sharp&l=htmlmixed&width=680&ds=true&dsyoff=71px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=true&fl=1&fm=Hack&fs=14px&lh=126%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522avatar%2520avatar--sm%2522%253E%250A%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar__content%2522%2520%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F300%2522%2520alt%253D%2522Avatar%2522%253E%250A%2520%2520%2520%2520%253C%252Fimg%253E%250A%253C%252Fdiv%253E"
                    style="width: 680px; height: 162px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                    </iframe>
            </div>
        </div>

    </div>
</body>
</html>