.dui-ul {
    text-decoration: none;
    list-style: none;
}

/* Horizontal List Starts */
.dui-ul__li--hzntl {
    display: inline-block;
}

/* Horizontal List Ends */

/* Notification List Starts */
.dui-ul--notif-stnd {
    background-color: var(--dui-primary-color-p2-lgt-35pct);
}

.dui-ul__li--notif-stnd {
    min-width: 40rem;
    background-color: var(--dui-light-theme-bg);
}

.dui-ul__li--notif-stnd:not(:last-child) {
    margin-bottom: 1.6rem;
}

/* Notification List Endss */