<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI</title>
    <link rel="stylesheet" href="/assets/prism.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./listPage.css">
</head>

<body>
    <div class="container">
        <section class="container__header">
            <!-- Header Component Starts -- Standard -->
            <div class="header header--standard">
                <a  href="/index.html" class="header__btn dui-link dui-util-disp-flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere"
                        width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 17.6l-2 -1.1v-2.5" />
                        <path d="M4 10v-2.5l2 -1.1" />
                        <path d="M10 4.1l2 -1.1l2 1.1" />
                        <path d="M18 6.4l2 1.1v2.5" />
                        <path d="M20 14v2.5l-2 1.12" />
                        <path d="M14 19.9l-2 1.1l-2 -1.1" />
                        <line x1="12" y1="12" x2="14" y2="10.9" />
                        <line x1="18" y1="8.6" x2="20" y2="7.5" />
                        <line x1="12" y1="12" x2="12" y2="14.5" />
                        <line x1="12" y1="18.5" x2="12" y2="21" />
                        <path d="M12 12l-2 -1.12" />
                        <line x1="6" y1="8.6" x2="4" y2="7.5" />
                    </svg>

                    <h3 class="header__title">
                        Delta UI
                    </h3>
                </a>

                <div class="header__action">
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/index.html">
                        HOME
                    </a>
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/components/avatar/avatarPage.html">
                        DOCUMENTATION
                    </a>
                </div>
            </div>
            <!-- Header Component Ends -- Standard -->

        </section>
        <section class="container__sidebar">
            <!-- Drawer Component Regular -->
            <div class="drawer">

                <!-- Getting Started Starts -->
                <div class="drawer__heading">
                    <h3 class="drawer__title">Getting Started</h3>
                </div>
                <div class="drawer__content-holder" style="margin-bottom: 2rem;">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/documentation/installation-page.html">
                            Installation
                        </a>
                    </div>
                </div>
                <!-- Getting Started Ends -->
                <div class="drawer__heading">
                    <h3 class="drawer__title">Components</h3>
                </div>

                <div class="drawer__content-holder">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/avatar/avatarPage.html">
                            Avatar
                        </a>
                    </div>
                    <div id="drawer__content--alert" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/alert/alertPage.html">
                            Alert
                        </a>
                    </div>
                    <div id="drawer__content--badge" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/badge/badgePage.html">
                            Badge
                        </a>
                    </div>
                    <div id="drawer__content--button" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/button/buttonPage.html">
                            Button
                        </a>
                    </div>
                    <div id="drawer__content--card" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/card/cardPage.html">
                            Card
                        </a>
                    </div>
                    <div id="drawer__content--image" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/image/imagePage.html">
                            Image
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/input/inputPage.html">
                            Input
                        </a>
                    </div>
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/textutils/textutilsPage.html">
                            Text Utilities
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content drawer__content--focus">
                        <a class="dui-link dui-util-txt-sm" href="/components/list/listPage.html">
                            List
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/navbar/navbarPage.html">
                            Navbar
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/modal/modalPage.html">
                            Modal
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/rating/ratingPage.html">
                            Rating
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/toast/toastPage.html">
                            Toast
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/grid/gridPage.html">
                            Grid
                        </a>
                    </div>
                </div>
            </div>

            <!-- Drawer Component Ends-->

        </section>

        <section class="container__content">
            <h1>List Component</h1>

            <h3 class="container__content__sub-title">Notification List</h3>

            <p class="container__description dui-util-txt-reg dui-util-txt-align-cent">
                Below is the stacked notification component.
            </p>
            <div class="container__content-demo-notif dui-util-bdr-radi-10px-m">
                <!-- Notification List Starts -->
                <ul
                    class="dui-ul dui-ul--notif-stnd dui-util-spc-pad-1_6rem-s dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                    <li
                        class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                        <p class="dui-util-txt-reg">Notification 1</p>
                    </li>
                    <li
                        class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                        <p class="dui-util-txt-reg">Notification 2</p>
                    </li>
                    <li
                        class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                        <p class="dui-util-txt-reg">Notification 3</p>
                    </li>
                    <li
                        class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                        <p class="dui-util-txt-reg">Notification 4</p>
                    </li>
                </ul>
                <!-- Notification List Ends -->
            </div>

            <p class="container__description dui-util-txt-reg">
                Code Snippet
            </p>

            <div id="container__code-preview--avatar-lg" class="container__code-preview dui-util-spc-pad-1_6rem-s">
                <script type="text/plain" class="language-markup">
                    <ul class="dui-ul dui-ul--notif-stnd dui-util-spc-pad-1_6rem-s dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                        <li
                            class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                            <p class="dui-util-txt-reg">Notification 1</p>
                        </li>
                        <li
                            class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                            <p class="dui-util-txt-reg">Notification 2</p>
                        </li>
                        <li
                            class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                            <p class="dui-util-txt-reg">Notification 3</p>
                        </li>
                        <li
                            class="dui-ul__li dui-ul__li--notif-stnd dui-util-spc-pad-2_4rem-m dui-util-bdr-radi-10px-m dui-util-gry-shdw">
                            <p class="dui-util-txt-reg">Notification 4</p>
                        </li>
                    </ul>
                </script>
            </div>


            <h3 class="container__content__sub-title">Vertical Spaced List</h3>

            <p class="container__description dui-util-txt-reg dui-util-txt-align-cent">
                Below is the vertical list component without any text decoration.
            </p>

            <!-- Vertical Spaced List Starts -->
            <ul class="dui-ul">
                <li class="dui-ul__li">Item 1</li>
                <li class="dui-ul__li">Item 2</li>
                <li class="dui-ul__li">Item 3</li>
                <li class="dui-ul__li">Item 4</li>
            </ul>
            <!-- Vertical Spaced List Ends -->

            <p class="container__description dui-util-txt-reg">
                Code Snippet
            </p>

            <div id="container__code-preview--avatar-lg" class="container__code-preview dui-util-spc-pad-1_6rem-s">
                <script type="text/plain" class="language-markup">
                    <ul class="dui-ul">
                        <li class="dui-ul__li">Item 1</li>
                        <li class="dui-ul__li">Item 2</li>
                        <li class="dui-ul__li">Item 3</li>
                        <li class="dui-ul__li">Item 4</li>
                    </ul>
                </script>
            </div>


            <h3 class="container__content__sub-title">Horizontal Spaced List</h3>

            <p class="container__description dui-util-txt-reg dui-util-txt-align-cent">
                Below is the horizontal list component without any text decoration.
            </p>

            <!-- Horizontal Spaced List Starts -->
            <ui class="dui-ul">
                <li class="dui-ul__li dui-ul__li--hzntl">Item 1</li>
                <li class="dui-ul__li dui-ul__li--hzntl">Item 2</li>
                <li class="dui-ul__li dui-ul__li--hzntl">Item 3</li>
                <li class="dui-ul__li dui-ul__li--hzntl">Item 4</li>
            </ui>
            <!-- Horizontal Spaced List Ends -->

            <p class="container__description dui-util-txt-reg">
                Code Snippet
            </p>

            <div id="container__code-preview--avatar-lg" class="container__code-preview dui-util-spc-pad-1_6rem-s">
                <script type="text/plain" class="language-markup">
                    <ul class="dui-ul">
                        <li class="dui-ul__li dui-ul__li--hzntl">Item 1</li>
                        <li class="dui-ul__li dui-ul__li--hzntl">Item 2</li>
                        <li class="dui-ul__li dui-ul__li--hzntl">Item 3</li>
                        <li class="dui-ul__li dui-ul__li--hzntl">Item 4</li>
                    </ul>
                </script>
            </div>

            <button
            class="mobl-flt-menu dui-btn dui-btn--primary dui-btn--floating-action dui-util-spc-pad-0_8rem-xs dui-util-bdr-radi-5px-s dui-util-disp-none reset-button-inherit-parent">
            <svg xmlns="http://www.w3.org/2000/svg" class="dui-btn__icon icon icon-tabler icon-tabler-menu-2"
                width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
        </button>

        <div class="mobile-menu">
            <h1 class="dui-primary-color">Delta UI Components</h1>
        </div>

        </section>

        <section class="container__footer">

        </section>
    </div>


    <script type="module" src="./listPage.js"></script>
    <script src="/assets/prism.js"></script>

</body>

</html>