@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800;900&display=swap');

@import "./reset-css.css";
@import "/library/avatar/avatar.css";
@import "./alert/alert.css";
@import "./badge/badge.css";
@import "./button/button.css";
@import "./card/card.css";
@import "./image/image.css";
@import "./input/input.css";
@import "./list/list.css";
@import "./navbar/navbar.css";
@import "./modal/modal.css";
@import "./rating/rating.css";
@import "./toast/toast.css";
@import "./grid/grid.css";
@import "./utility-css.css";

:root{
    /* Primary Color */
    --dui-primary-color-lgt-40pct: #6BFCCF; /* 40% Lighter */
    --dui-primary-color-lgt-20pct:#38C99C; /* 20% Lighter */
    --dui-primary-color: #059669;

    --dui-primary-color-opc-10pct: #05966919; /* 10% Opacity */
    --dui-primary-color-opc-75pct: #059669BF; /* 75% Opacity */
    /* Primary Color */

    /* PrimaryColor P2 */
    --dui-primary-color-p2-lgt-35pct: #F3F3F3; /* 35% Lighter */
    --dui-primary-color-p2-lgt-30pct: #E7E7E7; /* 30% Lighter */
    --dui-primary-color-p2-lgt-20pct: #CDCDCD; /* 20% Lighter */
    --dui-primary-color-p2-lgt-10pct: #B4B4B4; /* 10% Lighter */
    --dui-primary-color-p2: #9A9A9A;
    --dui-primary-color-p2-dkr-20pct: #676767; /* 20% Darker */
    /* PrimaryColor P2 */

    /* Text Theme */
    --dui-light-theme-txt: #FFFFFF;
    --dui-light-theme-contrast-txt: #000000;
    /* Text Theme */

    /* Background Theme */
    --dui-light-theme-bg: #FFFFFF;
    --dui-light-theme-bg-opc-10pct: #FFFFFF19; /* 10% Opacity */

    --dui-light-theme-contrast-bg: #000000;
    --dui-light-theme-contrast-bg-opc-25pct: #0000003F; /* 25% Opacity */
    /* Background Theme */

    --dui-input-text-border-color: #D0D0D0;
    --dui-input-text-border-color-focus: #7BB9FA;
    --dui-input-text-border-color-error: #F34E4E;

    --dui-alert-success-light-font-color: #00b341;
    --dui-alert-success-light-background-color: #00AD3F19; /* 10% Opacity */
    --dui-alert-error-light-font-color: #ff4500;
    --dui-alert-error-light-background-color: #fA430026; /* 15% Opacity */
    --dui-alert-warning-light-font-color: #e6ac00;
    --dui-alert-warning-light-background-color: #FFBF0026; /* 15% Opacity */
    --dui-alert-info-light-font-color: #00abfb;
    --dui-alert-info-light-background-color: #1FB8FF26; /* 15% Opacity */


    --grey-subtle: #F2F2F2;
    --grey-secondary: #757575; 
    /* @ToDo: #757575 is ~15pct, consider repalcing with 20pct */
    /* #676767;  20% pct darker*/

    /* LEGACY: Use themes with dui preffix */
    --light-theme: #FFFFFF;
    --light-theme-contrast: #000000;
    /* LEGACY: Use themes with dui preffix */
}