@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

@import "./reset-css.css";
@import "/library/avatar/avatar.css";
@import "./alert/alert.css";


:root{
    --primary-color: #059669;
    --rgba-primary-color-hover: 5, 150, 105, 0.1;
    --secondary-color: white;

    --light-theme: #ffffff;
    --light-theme-contrast: #000000;
    --alert-success-light-font-color: #00b341;
    --rgba-alert-success-light-background-color: 0, 173, 64, 0.10;
    --alert-error-light-font-color: #ff4500;
    --rgba-alert-error-light-background-color: 250, 67, 0, 0.15;
    --alert-warning-light-font-color: #e6ac00;
    --rgba-alert-warning-light-background-color: 255, 191, 0, 0.15;
    --alert-info-light-font-color: #00abfb;
    --rgba-alert-info-light-background-color: 31, 184, 255, 0.15;


}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 160%;
}