@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800;900&display=swap');

@import "./reset-css.css";
@import "/library/avatar/avatar.css";
@import "./alert/alert.css";
@import "./badge/badge.css";
@import "./button/button.css";
@import "./card/card.css";
@import "./image/image.css";
@import "./input/input.css";

@import "./utility-css.css";

:root{
    --primary-color: #059669;
    --rgba-primary-color-hover: 5, 150, 105, 0.1;
    --dui-rgba-primary-color-hover-10pct: #05966919; /* 10% */
    --dui-rgba-primary-color-hover-75pct: #059669BF; /* 75% */
    --secondary-color: white;


    --primary-color-p2: #9A9A9A;

    --light-theme: #ffffff;
    --light-theme-contrast: #000000;

    --input-text-border-color: #D0D0D0;
    --input-text-border-color-focus: #7BB9FA;
    --input-text-border-color-error: #F34E4E;

    --alert-success-light-font-color: #00b341;
    --alert-success-light-background-color: #00AD3F19; /* 10% */
    --alert-error-light-font-color: #ff4500;
    --alert-error-light-background-color: #fA430026; /* 15% */
    --alert-warning-light-font-color: #e6ac00;
    --alert-warning-light-background-color: #FFBF0026; /* 15% */
    --alert-info-light-font-color: #00abfb;
    --alert-info-light-background-color: #1FB8FF26; /* 15% */


    --rgba-light-theme-hover: 255, 255, 255, 0.1;
    --grey-subtle: #F2F2F2;
    --grey-secondary: #757575;



}

html {
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 160%;
}