@import "./util/typography.css";
@import "./util/spacing.css";
@import "./util/color.css";

/* Display Utils */
.dui-util-disp-none {
    display: none;
}

.dui-util-disp-block {
    display: block;
}

.dui-util-disp-inline-block {
    display: inline-block;
}

.dui-util-disp-flex-row {
    display: flex;
    flex-direction: row;
}

.dui-util-disp-flex-col {
    display: flex;
    flex-direction: column;
}

/* Display Utils */

.dui-util-gry-shdw {
    box-shadow: 2px 2px 2px 1px rgba(0.1, 0.1, 0.1, 0.1);
}

.dui-util-pos-rel {
    position: relative;
}

/* Color Utils */
.dui-util-clr-lt-theme {
    color: var(--dui-light-theme-txt);
}

.dui-util-clr-prim {
    color: var(--dui-primary-color);
}

.dui-util-clr-prim-p2 {
    color: var(--dui-primary-color-p2);
}

/* Color Utils */


/* Text Utils */
.dui-util-txt-align-cent {
    text-align: center;
}

.dui-util-txt-align-left {
    text-align: left;
}

.dui-util-txt-align-right {
    text-align: right;
}

.dui-util-txt-decoration-none {
    text-decoration: none
}

/* Text Utils */