.utility-display-none {
    display: none;
}

.utility-color-light-theme {
    color: var(--light-theme);
}

.utility-border-radius-5px {
    border-radius: 5px;
}

.utility-small-clickable-padding-1rem {
    padding: 1rem;
}

.utility-grey-shadow {
    box-shadow: 2px 2px 2px 1px rgba(0.1, 0.1, 0.1, 0.1);
}

.utility-position-relative {
    position: relative;
}