<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delta UI</title>
    <link rel="stylesheet" href="/assets/prism.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="./ratingPage.css">
</head>

<body>
    <div class="container">
        <section class="container__header">
            <!-- Header Component Starts -- Standard -->
            <div class="header header--standard">
                <a href="http://127.0.0.1:5500/index.html" class="header__btn dui-link dui-util-disp-flex-row">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-3d-cube-sphere"
                        width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6 17.6l-2 -1.1v-2.5" />
                        <path d="M4 10v-2.5l2 -1.1" />
                        <path d="M10 4.1l2 -1.1l2 1.1" />
                        <path d="M18 6.4l2 1.1v2.5" />
                        <path d="M20 14v2.5l-2 1.12" />
                        <path d="M14 19.9l-2 1.1l-2 -1.1" />
                        <line x1="12" y1="12" x2="14" y2="10.9" />
                        <line x1="18" y1="8.6" x2="20" y2="7.5" />
                        <line x1="12" y1="12" x2="12" y2="14.5" />
                        <line x1="12" y1="18.5" x2="12" y2="21" />
                        <path d="M12 12l-2 -1.12" />
                        <line x1="6" y1="8.6" x2="4" y2="7.5" />
                    </svg>

                    <h3 class="header__title">
                        Delta UI
                    </h3>
                </a>

                <div class="header__action">
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/index.html">
                        HOME
                    </a>
                    <a class="header__btn dui-link dui-util-bdr-radi-5px-s dui-util-txt-sm dui-util-spc-pad-0_8rem-xs"
                        href="/components/avatar/avatarPage.html">
                        DOCUMENTATION
                    </a>
                </div>
            </div>
            <!-- Header Component Ends -- Standard -->

        </section>
        <section class="container__sidebar">
            <!-- Drawer Component Regular -->
            <div class="drawer">

                <!-- Getting Started Starts -->
                <div class="drawer__heading">
                    <h3 class="drawer__title">Getting Started</h3>
                </div>
                <div class="drawer__content-holder" style="margin-bottom: 2rem;">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/documentation/installation-page.html">
                            Installation
                        </a>
                    </div>
                </div>
                <!-- Getting Started Ends -->
                
                <div class="drawer__heading">
                    <h3 class="drawer__title">Components</h3>
                </div>

                <div class="drawer__content-holder">
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/avatar/avatarPage.html">
                            Avatar
                        </a>
                    </div>
                    <div id="drawer__content--alert" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/alert/alertPage.html">
                            Alert
                        </a>
                    </div>
                    <div id="drawer__content--badge" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/badge/badgePage.html">
                            Badge
                        </a>
                    </div>
                    <div id="drawer__content--button" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/button/buttonPage.html">
                            Button
                        </a>
                    </div>
                    <div id="drawer__content--card" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/card/cardPage.html">
                            Card
                        </a>
                    </div>
                    <div id="drawer__content--image" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/image/imagePage.html">
                            Image
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/input/inputPage.html">
                            Input
                        </a>
                    </div>
                    <div id="drawer__content--avatar" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/textutils/textutilsPage.html">
                            Text Utilities
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/list/listPage.html">
                            List
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/navbar/navbarPage.html">
                            Navbar
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/modal/modalPage.html">
                            Modal
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content  drawer__content--focus">
                        <a class="dui-link dui-util-txt-sm" href="/components/rating/ratingPage.html">
                            Rating
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/toast/toastPage.html">
                            Toast
                        </a>
                    </div>
                    <div id="drawer__content--input" class="drawer__content">
                        <a class="dui-link dui-util-txt-sm" href="/components/grid/gridPage.html">
                            Grid
                        </a>
                    </div>
                </div>
            </div>

            <!-- Drawer Component Ends-->

        </section>

        <section class="container__content">
            <h1>Rating Component</h1>

            <p class="container__description dui-util-txt-reg ">
                Use the below rating component with the desired SVG.
            </p>


            <div class="container__components-holder dui-util-spc-pad-1_6rem-s">
                <div id="container__component-holder" class="container__component-holder">

                    <!-- Rating Component Starts -- Primary Star -->
                    <div class="dui-rating">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-star"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-star"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-star"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-star" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-star" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" />
                        </svg>
                    </div>
                    <!-- Rating Component Starts -- Primary Star -->

                    <p class="dui-util-fw-sbld">Star Rating</p>
                </div>

                <div id="container__component-holder" class="container__component-holder">

                    <!-- Rating Component Starts -- Primary Plant -->
                    <div class="dui-rating">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-plant"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" />
                            <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
                            <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
                            <line x1="12" y1="15" x2="12" y2="9" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-plant"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" />
                            <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
                            <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
                            <line x1="12" y1="15" x2="12" y2="9" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-plant"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" />
                            <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
                            <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
                            <line x1="12" y1="15" x2="12" y2="9" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-plant" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" />
                            <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
                            <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
                            <line x1="12" y1="15" x2="12" y2="9" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-plant" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M7 15h10v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-4z" />
                            <path d="M12 9a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
                            <path d="M12 11a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
                            <line x1="12" y1="15" x2="12" y2="9" />
                        </svg>
                    </div>
                    <!-- Rating Component Starts -- Primary Plant -->

                    <p class="dui-util-fw-sbld">Plant Rating</p>
                </div>

                <div id="container__component-holder" class="container__component-holder">

                    <!-- Rating Component Starts -- Primary Leaf -->
                    <div class="dui-rating">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-leaf"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                            <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-leaf"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                            <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
                        </svg>


                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-leaf"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                            <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-leaf" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                            <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-leaf" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 21c.5 -4.5 2.5 -8 7 -10" />
                            <path d="M9 18c6.218 0 10.5 -3.288 11 -12v-2h-4.014c-9 0 -11.986 4 -12 9c0 1 0 3 2 5h3z" />
                        </svg>
                    </div>
                    <!-- Rating Component Starts -- Primary Leaf -->

                    <p class="dui-util-fw-sbld">Leaf Rating</p>
                </div>

                <div id="container__component-holder" class="container__component-holder">

                    <!-- Rating Component Starts -- Primary Star -->
                    <div class="dui-rating">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled dui-rating__step-heart  dui-rating__step-heart--filled icon icon-tabler icon-tabler-heart"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled dui-rating__step-heart  dui-rating__step-heart--filled icon icon-tabler icon-tabler-heart"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled dui-rating__step-heart  dui-rating__step-heart--filled icon icon-tabler icon-tabler-heart"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step dui-rating__step-heart icon icon-tabler icon-tabler-heart"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step dui-rating__step-heart icon icon-tabler icon-tabler-heart"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6f32be" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                        </svg>

                    </div>
                    <!-- Rating Component Starts -- Primary Heart -->

                    <p class="dui-util-fw-sbld">Heart Rating</p>
                </div>
            </div>

            <p class="container__description dui-util-txt-reg ">Code Snippet
            </p>

            <div id="container__code-preview" class="container__code-preview">
                <script type="text/plain" class="language-markup">
                    <div class="dui-rating">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-star"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none"
                            stroke-linecap="round" stroke-linejoin="round"> ...
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-star"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none"
                            stroke-linecap="round" stroke-linejoin="round"> ...
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step dui-rating__step--filled icon icon-tabler icon-tabler-star"
                            width="56" height="56" viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none"
                            stroke-linecap="round" stroke-linejoin="round"> ...
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-star" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none" stroke-linecap="round"
                            stroke-linejoin="round"> ...
                        </svg>

                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="dui-rating__step icon icon-tabler icon-tabler-star" width="56" height="56"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="#059669" fill="none" stroke-linecap="round"
                            stroke-linejoin="round"> ...
                        </svg>
                    </div>
                </script>
            </div>


        </section>

        <section class="container__footer">

        </section>
    </div>

    <script src="./imagePage.js"></script>
    <script src="/assets/prism.js"></script>

</body>

</html>