/*  Avatar Component Starts */
.dui-avatar{
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.dui-avatar__content {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Avatar Component Starts -- Extra Large */
.dui-avatar--xlg {
    width: 15rem;
    height: 15rem;
}
/*  Avatar Component Ends -- Extra Large */


/* Avatar Component Starts -- Large */
.dui-avatar--lg {
    width: 10rem;
    height: 10rem;
}
/*  Avatar Component Ends -- Large */


/* Avatar Component Starts -- Medium */
.dui-avatar--md {
    width: 6.4rem;
    height: 6.4rem;
}
/*  Avatar Component Ends -- Medium */


/* Avatar Component Starts -- Small */
.dui-avatar--sm {
    width: 3rem;
    height: 3rem;
}
/*  Avatar Component Ends -- Small */