.dui-img-circle {
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    /* overflow: hidden; */
}

.dui-img-circle__content {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    border-radius: 50%;
    object-fit: cover;
}

.dui-img-responsive {
    width: 50%;
    height: auto;
}