/*  Badge Component Starts */
.dui-badge {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--light-theme);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

.dui-badge__content {
    width: 70%;
    height: 70%;
}

.dui-badge--sq-ele-1_5-top-1_5-right {
    top: -1.5rem;
    right: -1.5rem;
}

.dui-badge--round-ele-0_5-top-0_5-right {
    top: -0.5rem;
    right: -0.5rem;
}

/*  Badge Component Ends */

/* Supporting Elements */
.dui-badge__demo-icon {
    width: 5rem;
    height: auto;
}