/*  Button Component Starts */
.dui-btn {
    height: fit-content;
}

.dui-btn__icon {
    width: 100%;
    height: 100%;
}

.dui-btn--primary {
    background-color: var(--primary-color);
    color: var(--light-theme);
}

.dui-btn--primary-p2 {
    background-color: var(--primary-color-p2);
    color: var(--light-theme);
}

.dui-btn--primary:hover {
    background-color: var(--dui-rgba-primary-color-hover-75pct);
}

.dui-btn--txt-primary {
    color: var(--primary-color);
}

.dui-btn--txt-primary:hover {
    background-color: var(--dui-rgba-primary-color-hover-10pct);
}

.dui-btn--floating-action {
    position: fixed;
}
/*  Button Component Ends */


/* Link Button Component Starts -- Link Primary */
.dui-link {
    text-decoration: none;
}

.dui-link--primary {
    background-color: var(--primary-color);
    color: var(--light-theme);
}

.dui-link--primary:hover {
    background-color: var(--dui-rgba-primary-color-hover-75pct);
}
/* Link Button Component Starts -- Link Primary */