/*  Button Component Starts */
.dui-btn {
    width: fit-content;
    height: fit-content;
}

.dui-btn__icon {
    width: 5rem;
    height: auto;
}

/* Primary Button Starts */
.dui-btn--primary {
    background-color: var(--dui-primary-color);
    color: var(--light-theme);
}

.dui-btn--primary:hover {
    background-color: var(--dui-primary-color-opc-75pct);
}

/* Primary Button Ends */

/* Secondary Button Starts */
.dui-btn--secondary {
    color: var(--dui-primary-color);
    border: 2px solid var(--dui-primary-color);
}

.dui-btn--secondary:hover {
    background-color: var(--dui-primary-color-opc-10pct);
}

/* Secondary Button Ends */

/* Text Primary Button Starts */
.dui-btn--txt-primary {
    color: var(--dui-primary-color);
}

.dui-btn--txt-primary:hover {
    background-color: var(--dui-primary-color-opc-10pct);
}

/* Text Primary Button Starts */

.dui-btn--floating-action {
    position: fixed;
    bottom: 2rem;
    right: 4rem;
}

.dui-btn--primary-p2 {
    background-color: var(--dui-primary-color-p2);
    color: var(--light-theme);
}

/*  Button Component Ends */

/* Invert Primary Button Starts */
.dui-btn--invt-primary {
    color: var(--dui-primary-color);
    background-color: var(--light-theme);
    border: 2px solid var(--light-theme);
}
/* Invert Primary Button Ends */


/* Invert Secondary Button Starts */
.dui-btn--invt-secondary {
    color: var(--light-theme);
    border: 2px solid var(--light-theme);
}
/* Invert Secondary Button Ends */


/* Link Button Component Starts -- Link Primary */
.dui-link {
    text-decoration: none;
}

/* Primary Link Starts */
.dui-link--primary {
    background-color: var(--dui-primary-color);
    color: var(--light-theme);
}

.dui-link--primary:hover {
    background-color: var(--dui-primary-color-opc-75pct);
}

/* Primary Link Ends */

/* Secondary Link Starts */
.dui-link--secondary {
    color: var(--dui-primary-color);
    border: 2px solid var(--dui-primary-color);
}

.dui-link--secondary:hover {
    background-color: var(--dui-primary-color-opc-10pct);
}

/* Secondary Link Ends */

/* Invert Primary Link Starts */
.dui-link--invt-primary {
    color: var(--dui-primary-color);
    background-color: var(--light-theme);
    border: 2px solid var(--light-theme);
}
/* Invert Primary Link Ends */

/* Invert Secondary Link Starts */
.dui-link--invt-secondary {
    color: var(--dui-primary-color);
    border: 2px solid var(--dui-primary-color);

    color: var(--light-theme);
    border: 2px solid var(--light-theme);
}
/* Invert Secondary Link Ends */


/* Text Primary Link Starts */
.dui-link--txt-primary {
    color: var(--dui-primary-color);
}

.dui-link--txt-primary:hover {
    background-color: var(--dui-primary-color-opc-10pct);
}

/* Text Primary Link Ends */

/* Primary P2 Link Starts */
.dui-link--primary-p2 {
    background-color: var(--dui-primary-color-p2);
    color: var(--light-theme);
}

/* Primary P2 Link Ends */

/* Link Button Component Starts -- Link Primary */