<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Component</title>
    <link rel="stylesheet" href="/component.css">
    <style>
        body {
            padding: 0px;
        }
        .comp-lib-hr {
            margin: 2rem;
        }
        .comp-lib-h1 {
            margin: 2rem;
        }
        .comp-lib-h2 {
            margin: 1rem;
        }
    </style>

</head>
<body>
        <!-- Alert Component Starts -->
        <h1 class="comp-lib-h1">@ Alert Component</h1>

        <h2 class="comp-lib-h2">Alert Component Success</h2>
        <!-- Alert Component Starts -- Success -->
        <div class="alert alert--success">
            <img class="alert__icon" src="/components/alert/success.svg" alt="success">
            </img>
    
            <div class="alert__content">
                <div class="alert__text alert__text--success">
                    <h2 class="alert__title">Success</h2>
                    <p class="alert__description">This is a success alert — <strong>check it out!</strong></p>
                </div>
            </div>
        </div>
        <!-- Alert Component Ends -- Success -->
    
        <h2 class="comp-lib-h2">Alert Component Error</h2>
        <!-- Alert Component Starts -- Error -->
        <div class="alert alert--error">
            <img class="alert__icon" src="/components/alert/error.svg" alt="error">
            </img>
    
            <div class="alert__content">
                <div class="alert__text alert__text--error">
                    <h2 class="alert__title">Error</h2>
                    <p class="alert__description">This is an error alert — <strong>check it out!</strong></p>
                </div>
            </div>
        </div>
        <!-- Alert Component Ends -- Error -->
    
        <h2 class="comp-lib-h2">Alert Component Warning</h2>
        <!-- Alert Component Starts -- Warning -->
        <div class="alert alert--warning">
            <img class="alert__icon" src="/components/alert/warning.svg" alt="warning">
            </img>
    
            <div class="alert__content">
                <div class="alert__text alert__text--warning ">
                    <h2 class="alert__title">Warning</h2>
                    <p class="alert__description">This is a warning alert — <strong>check it out!</strong></p>
                </div>
            </div>
        </div>
        <!-- Alert Component Ends -- Warning -->
    
        <h2 class="comp-lib-h2">Alert Component Info</h2>
        <!-- Alert Component Starts -- Info -->
        <div class="alert alert--info">
            <img class="alert__icon" src="/components/alert/info.svg" alt="Info">
            </img>
    
            <div class="alert__content">
                <div class="alert__text alert__text--info">
                    <h2 class="alert__title">Info</h2>
                    <p class="alert__description">This is an info alert — <strong>check it out!</strong></p>
                </div>
            </div>
        </div>
        <!-- Alert Component Ends -- Info -->
    
        <!-- Alert Component Ends -->
</body>
</html>